body{
    padding: 5px;
    margin: 0;
}
.header-container{
    position:relative;
    width: 100%;
    height: 150px;
}

.header img{
    position: absolute;
    width: 100%;
    height: 150px;
    object-fit: cover;
    z-index: 0;
}
.nav-bar{
    display: flex;
    width: 100%;
    height:150px;
    padding: 0 10px;
    position: absolute;
    z-index: 1;
}

.com-logo img{
    width: 100px;
    border-radius: 15px;
    object-fit: contain;
}
.nav-option{
    margin-left: 100px;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    padding-top: 20px;
    width: fit-content;
}


.nav-option ul li{
    list-style-type: none;
    display: inline-flex;
    margin-inline-end: 20px;
}
.nav-option ul li a{
    color: white;
    text-decoration: none;
}
.social-media-icon{
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.ellipse-bg1,.ellipse-bg2{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 60px;
    object-fit: contain;
    z-index: 0;
}
.ellipse-bg2{
    background-color: white;
}
.ellipse-bg1{
    background-color: black;
}

.ellipse-bg1 img,.ellipse-bg2 img{
    width: 70px;
    object-fit: contain;
}

.body-container{
margin:0;
}
.image-container{
    background-image: url("/public/chemistry-1@2x.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-text h1{
    color:white;
    font-size: 102px;
}
.rect-info{
    justify-content: center;
    width: 100%;
    display: flex;
    position:absolute;
    margin-top:-5%;
}
.rectangle-content{
    width: 17%;
    height: 150px;
    padding: 20px 0;
    margin-inline-end: 5%;
    text-align: center;
    background-color: #1a1c4c;
}
.rectangle-content h2{
    color:whitesmoke;
}

.about-container{
    position: initial;
    display: flex;
    margin-top:150px;
    gap:20px;
    overflow: hidden;
}
.about-us{
    background-image: url("/public/rectangle-69@2x.png");
    background-size: cover;
    background-position: center;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding-left:20px;
    padding-top:20px;
    display: flex;
}
.about-title{
    align-self: flex-start;
    flex:1;
}
.about-title h1{
    font-size: 48px;
}
.about1{
    color:rgb(142, 35, 219);
}
.about2{
    color:rgb(176, 132, 207);
}
.about3{
    color:rgb(218, 172, 251);
}

.about-paragraph{
    align-self: flex-start;
    flex:1;
    justify-content: center;
    width: 100%;
}
.about-paragraph p{
    font-size: 28px;
    color:#3c3d81;
    font-weight: 600;
}

.products-container{
    margin-top: 150px;
}
.our-product{
    background-image: url(/public/whitesparklebackground1920x1080wzjzged6lh2r9a5t-1@2x.png);
    height: 150vh;
    background-size: cover;
    background-position: center;
}
.product-title{
    padding-top: 7%;
    text-align: center;
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product1{
    color:rgb(112, 144, 112);
}
.product2{
    color:rgb(180, 197, 113);
}
.product3{
    color: rgb(218, 218, 105);
}

.product-category{
    margin-top:50px;
    max-width:100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-category ul{
    list-style-type: none;
    display: inline-flex;
}
.product-category ul li{
    margin-inline-end: 20px;
    font-size: 24px;
    padding: 10px;
    border: 3px solid red;
}
.product-category ul li a{
    text-decoration: none;
    color:black;
}
.product-category ul li:hover{
    transition:0.5s;
    transform:scale(1.05);
    background-color: rgb(178, 221, 200);
}

.product-catalog{
    display: flex;
    flex-direction: row;
    gap:2%;
    align-items: center;
    justify-content: center;
    padding:20px;
    box-sizing: border-box;
}
.product-container{
    padding:5% 0;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 218, 185, 0.518);
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-card1,.product-card2,.product-card3,.product-card4{
    display: flex;
    width: 100%;
    height: 250px;
    max-width: 300px;
    border: 1px solid #ddd;
    background-color: rgb(199, 198, 198);
    padding: 20px;
    box-sizing:border-box;
}
.product-card1{
    background-color: rgb(182, 76, 76);
}
.product-card2{
    background-color: rgb(62, 35, 13);
}
.product-card4{
    background-color: rgb(66, 66, 82);
}

.product-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.message-container{
    display: flex;
    margin-top: 150px;
    padding: 20px;
    align-self: flex-start;
    box-sizing: border-box;
}
.md-img{
    flex:0 0 407px;
    height: 731px;
}
.md-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.md-message{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1c4c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.message-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}
.message-body{
    flex:1;
    padding:20px;
    font-size: 20px;
    box-sizing:border-box;
}

.message-footer{
    text-align: right;
    padding-right:10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.our-valuable-clients{
    margin-top:250px;
    height: max-content;
    background-color: rgb(194, 192, 192);
    text-align: center;
}
.our-valuable-clients h1{
    padding-top:5%;
    color: rgb(0, 255, 30);
    text-shadow: 0 1px rgba(0, 0, 0, 0.386);
}

.client1{
 color: rgb(0, 155, 70);
}
.client2{
    color: rgb(0,140,90);
}
.client3{
    color: rgb(2, 124, 82);
}
.client4{
    color: rgb(0,120,120);
}


.marquee-img{
    padding: 7%;
    height:fit-content;
}
.marquee-img img{
    width: 300px;
    height: 300px;
    margin-inline-end: 15px;
}

.FAQ-container{
    margin-top: 150px;
    padding: 2%;
    text-align: center;
}
.FAQ-container h1{
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 48px;
    color:rgb(2, 186, 246);
}
.FAQ-box{
    display: flex;
    text-align: left;
    width: 50%;
    height: max-content;
    background-color:rgb(127, 225, 255);
    box-shadow: 1px 1px black;
    padding: 10px;
    margin: 30px;
}
.FAQ-box:hover{
    cursor: pointer;
}
.FAQ-box h1{
    color: black;
    font-size: 30px;
}
.FAQ-box img{
    margin-left: auto;
    width: 40px;
}

.scan-me{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(1, 179, 250);
    margin-top: 100px;
    width: 60%;
    border-radius: 15px;
    height: max-content;
    padding: 20px;
    display: flex;
}
.scan-me img{
    width: 300px;
    object-fit: contain;
}

.scan-me h1{
    color: black;
    margin:auto;
}

.contact-container{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 80%;
    box-shadow: 1px 1px 1px 1px black;
}
.contact-container h1{
    color: grey;
    text-align: center;
    margin-bottom: 3%;
}
.contact-form{
    display: flex;
}
.inquiry-form{
    margin-right: auto;
}
.inquiry-form input{
    background-color: rgb(77, 231, 255);
    border-radius: 15px;
    color: white;
    text-align: center;
    display: block;
    margin:30px;
    font-size:28px;
}
.map-img{
    overflow: hidden;
}

.map-img img{
    width: 400px;
    object-fit: contain;
}

.submit input{
    background-color: #1a1c4c;
    font-size: 24px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.view-larger-map{
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
}

.footer-container{
    margin-top: 150px;
    height:fit-content;
    width: 100%;
}


.footer-section{
    background-image: url("/public/group-1.svg");
    background-size: cover;
    color:white;
    display: flex;
    z-index: 1;
}
.footer-block3 h1,.footer-block2 h1,.footer-block1 h1{
    font-size: 32px;
    font-weight: 600;
    color: rgb(254, 254, 92);
}

.footer-block,.footer-block1,.footer-block2,.footer-block3{
    padding: 3% 1%;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.footer-block img{

    width:150px;
    margin-bottom:20px;
}

.footer-block p{
    text-align: center;
    font-weight: 600;
}

.footer-block1{
    text-align: center;
}

.footer-block1 ul li,.footer-block2 ul li{
    list-style-type: none;
    margin: 10px 0;
}

.footer-block1 ul li a, .footer-block2 ul li a{
    text-decoration: none;
    color: white;
}

.copyright{
    width: 100%;
    background-color: #1a1c4c;
    color: white;
    margin-top:-10px ;
    text-align: center;
}